//function
//获取变量
@function get($name) {
    @return map-get($userTheme, $name)
  }
  
  //路径统一
  $imgBaseurl:"";
  @function imgurl($path) {
    @return url(#{$imgBaseurl}#{$path});
  }
  
  //px转REM
  $fz:75px;
  @function toRem($px) {
    @return $px / $fz * 1rem;
  }
  
  //转百分比
  @function toPer($px, $totalpx) {
    @return $px/$totalpx*100*1%;
  }
  
  //清除浮动
  @mixin clearfix() {
    &:before,
    &:after {
        content: " ";
        display: table;
    }
    &:after {
        clear: both;
    }
  }